@model BMassage.Models.Massage

<h1>Добавьте новую услугу массажа</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="Name">Название услуги</label>
                <input type="text" asp-for="Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Description">Описание услуги</label>
                <textarea asp-for="Description" rows="4" cols="50" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="Price">Стоимость (руб.)</label>
                <input type="number" step="any" asp-for="Price" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Добавить услугу</button>
        </form>
    </div>
</div>